<?xml version='1.0' encoding='utf-8'?>
<!--
  #%L
  Accueil CCAS
  %%
  Copyright (C) 2012 - 2015 Mairie de Nouméa
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- SQL dialect --> 
		<!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- second-level cache  -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout-->
		<!--<property name="show_sql">false</property>-->
		<property name="show_sql">true</property>
       	<property name="format_sql">true</property>
		

		<!--  Drop and re-create the database schema on startup  -->
		<!--<property name="hbm2ddl.auto">create</property>-->
		<property name="hbm2ddl.auto">validate</property>

		<mapping resource="accueilccas/bean/Accueil.hbm.xml" />
		<mapping resource="accueilccas/bean/AttributCategorie.hbm.xml" />
		<mapping resource="accueilccas/bean/Categorie.hbm.xml" />
		<mapping resource="accueilccas/bean/TypePublic.hbm.xml" />
		<mapping resource="accueilccas/bean/TypeReception.hbm.xml" />
		<mapping resource="accueilccas/bean/Groupe.hbm.xml" />
		<mapping resource="accueilccas/bean/User.hbm.xml" />
		<mapping resource="accueilccas/bean/Rapport.hbm.xml" />
	</session-factory>
</hibernate-configuration>

