<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Accueil CCAS
  %%
  Copyright (C) 2012 - 2015 Mairie de Nouméa
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->

<web-app id="SpringTest2" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>accueilccas</display-name>
	<description>Logiciel de gestion de l'Accueil du CCAS</description>

	<context-param>
		<param-name>VERSION</param-name>
		<param-value>1.0.0</param-value>
	</context-param>


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext*.xml;</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<!--<taglib>
  <taglib-uri>
    /spring
  </taglib-uri>
  <taglib-location>
    /WEB-INF/tlds/spring.tld
  </taglib-location>
</taglib>
-->
	<jsp-config>
		<taglib>
			<taglib-uri>
                     /spring
			</taglib-uri>
			<taglib-location>
                     /WEB-INF/tlds/spring.tld
			</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>/cewolf</taglib-uri>
			<taglib-location>/WEB-INF/tlds/cewolf.tld</taglib-location>
		</taglib>
	</jsp-config>



	<servlet>
		<servlet-name>accueilccas</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>accueilccas</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>HibernateFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>HibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- POUR LES STATISTIQUES  -->
	<servlet>
		<servlet-name>CewolfServlet</servlet-name>
		<servlet-class>de.laures.cewolf.CewolfRenderer</servlet-class>
		<init-param>
			<param-name>storage</param-name>
			<param-value>
				de.laures.cewolf.storage.TransientSessionStorage
			</param-value>
		</init-param>
		<init-param>
			<param-name>overliburl</param-name>
			<param-value>js/overlib.js</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CewolfServlet</servlet-name>
		<url-pattern>/cewolf/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/accueil.do</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/jsp/error/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/error/error500.jsp</location>
	</error-page>

	<!-- DWR Servlet -->
	<servlet>
		<servlet-name>dwr</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param> 
			<param-name>crossDomainSessionSecurity</param-name> 
			<param-value>false</param-value>
		</init-param>

		<!-- Requis supporter les reverse proxy-->
		<init-param>
			<param-name>overridePath</param-name>
			<param-value>/dwr</param-value>
		</init-param>

	</servlet>
	<servlet-mapping>
		<servlet-name>dwr</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Entire Application</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>

		<!-- The name of the AD security groups users must be a member of to login -->
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Exclusion du fichier de ping (Health Check) pour le Reverse Proxy-->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Fichier version.jsp</web-resource-name>
			<url-pattern>/version.jsp</url-pattern>
		</web-resource-collection>
	</security-constraint>


	<!-- Basic Authentication using a JNDIRealm -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>JNDIRealm</realm-name>
	</login-config>

	<security-role>
		<role-name>*</role-name>
	</security-role>

</web-app>